.phone-input {
  position: relative;
  display: inline-flex;
}

.phone-input * {
  box-sizing: border-box;
}

.phone-input__dropdown-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  opacity: 1;
  left: 0.5em;

  border: none;
  border-radius: 0;
  background: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;


}

.phone-input__dropdown-button-icon {
  display: block !important;
  align-self: center;
}

.phone-input__input {
  flex: 1 1 100%;
}

.phone-input__dropdown {
  position: absolute;
  left: 0;
  top: 100%;
}

.phone-input__dropdown-options-code {
  opacity: 0.5;
  margin-left:0.5em;
}


.phone-input__input {

  &:-webkit-autofill {
    font-family: inherit;
  }

  .phone-input--normal & {
    padding-left: 2.5em;
  }
}