.phone-input {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.phone-input__select {
  //width: 100px;
}

.phone-input__dropdown {
  position: absolute;
  left: 0;
  top: 100%;
}